body {
	background-color: transparent;
}

.output-container {
    margin-top: 1em;
    padding: 0.5em;
    background-color: var(--vscode-editor-background);
    border: 1px solid var(--vscode-input-border);
    border-radius: 4px;
}

.output-box {
    width: 100%; /* Adjust width to fit content */
    height: min-content; /* Adjust height to fit content */
    resize: none;
    padding: 0.5em;
    font-family: var(--vscode-editor-font-family);
    font-size: var(--vscode-editor-font-size);
    color: var(--vscode-input-foreground);
    background-color: var(--vscode-input-background);
    border: none;
    outline: none;
	/* Add colored padding effect */
    box-shadow: 0 0 0 2px var(--vscode-input-border); /* 10px "padding" with border color */
    box-sizing: border-box; /* Ensure padding and shadow are included in the element's size */
}

.info-box {
    width: 30em; /* Adjust width to fit content */
    height: min-content; /* Adjust height to fit content */
    resize: none;
    padding: 0.5em;
    font-family: var(--vscode-editor-font-family);
    font-size: var(--vscode-editor-font-size);
	font-weight: bold;
    color: var(--vscode-input-foreground);
    background-color: var(--vscode-input-border);
    border: none;
    outline: none;
	/* Add colored padding effect */
    box-shadow: 0 0 0 2px var(--vscode-input-border); /* 10px "padding" with border color */
    box-sizing: content-box; /* Ensure padding and shadow are included in the element's size */
	margin-bottom: 1em;
}

.answer-container {
    margin-bottom: 1em; /* Add spacing between answers */
}

.answer-label-box {
    background-color: var(--vscode-input-background); /* Match VS Code theme */
    color: var(--vscode-input-foreground); /* Match text color */
    padding: 0.1em 0.1em; /* Add padding inside the label box */
    font-weight: bold; /* Make the text bold */
    margin-bottom: 0.5em; /* Add spacing below the label box */
    display: inline-block; /* Ensure it doesn't stretch */
}